<section id="about">

  <div class="grid "> <!-- START GRID -->

    <div class="grid col-3_xs-6_sm-5 center"> <!-- START COL-3 -->
      <div class="col-12"> <!-- START PROFILE PICTURE -->
        <img class="col-12 grid-center" src="./assets/images/portrait-paper.jpg">
        <h1 class="text-center"> about </h1>
      </div> <!-- END PROFILE PICTURE -->
    </div> <!-- END COL-3 -->


    <div class="col-1 grid-noGutter_sm-hidden line-center"> <!-- START COL-1 -->
      <div class="col-12"></div>
    </div> <!-- END COL-1 -->


    <div class="col-8_xs-12_sm-12"> <!-- START COL-1 -->

      <div class="col-12 about-columns"> <!-- START PARAGRAPHS -->
        <p> Hello there, I’m Katherine, I’m a visual designer. My style is clean and thoughtful, I am a person who strives to deliver clever design, using thoughtful work practices. Helping people express and communicate complex concepts is my passion. At home I love cooking, gaming and constantly filling my head with a very broad range of knowledge (particularly history, comedy and science). </p>
      </div> <!-- END PARAGRAPHS -->

      <div id ="skills"> <!-- START ANIMATION -->
        <script>
          lottie.loadAnimation({
            container: skills, // the dom element that will contain the animation
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: 'assets/animations/skills.json' // the path to the animation json
          });
        </script>
      </div> <!-- END ANIMATION -->

    </div> <!-- END COL-1 -->

  </div> <!-- END GRID -->
</section>
