<section id="about">
  <div class="grid-equalHeight">
    <div class="col-3 grid-noGutter">
      <div class="col-12 right">
        <div class="box-image end"><img class="col-12" src="/assets/images/portrait.jpg"></div>
      </div>
    </div>

    <div class="col-1 grid-noGutter line-center">
      <div class="col-12"></div>
    </div>

    <div class="col-8 grid-noGutter block-image" id ="skills">
      <script>
        lottie.loadAnimation({
          container: skills, // the dom element that will contain the animation
          renderer: 'svg',
          loop: true,
          autoplay: true,
          path: 'assets/animations/skills.json' // the path to the animation json
        });
      </script>
    </div>

    <div class="col-12 grid-noGutter">
      <div class="col-5">
        <h1> about me </h1>
      </div>
      <div class="col-7 grid-noGutterd">
        <p> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh alte rivero nantasy muldaos kelty. </p>
      </div>
    </div>
  </div>
</section>
