<section class="featured" id="contact">
  <div class="grid-noGutter">

<!-- START - COLOUM WITH HEADING -->
    <div class="col-4 grid-noGutter right">
      <div class="col-12-noGutter">
        <h1> connect </h1>
        <div class="col-12-noGutter-noBottom">
            <ul class="col-12-noGutter no-padding">

            <!-- URL IF HOSTING ON GITHUB PAGES -->
              <!-- <li><a href="{{ site.baseurl }}"><i class="col-12"></i> Home </a></li> -->
            <!-- URL IF BUILDING LOCALLY -->
              <li class="text-link"><a href="http://127.0.0.1:4000/myportfolio/"><i class="col-12"></i> Home </a></li>

              <li class="text-link"><a href="#about"><i class="col-12"></i> About Me </a></li>
              <li class="text-link"><a href="#my-work"><i class="col-12"></i> Work </a></li>
              <li class="text-link"><a href="#resume"><i class="col-12"></i> Resume </a></li>

              <li><a href="https://www.linkedin.com/in/katherine-molloy/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
      </div>

        <div class="col-2"></div>
        <div class="col-4"> {% include icons/logo.html %} </div> <!-- logo is currently hidden by being the same colour as the background -->
        <div class="col-2"></div>
        <div class="col-4 button-solid"> <a download href="./assets/CV.pdf"> Download Portfolio .PDF </a></div>
    </div> <!-- COL-4 END -->

<!-- END - COLOUM WITH HEADING -->

    <div class="col-1 grid-noGutter line-center">
      <div class="col-12"></div>
    </div>

    <div class="col-7">
      <div class="grid-noGutter">
        <div class="left-margin"><p> Feel free to contact via this form or via the Linkedin icon to the left.</p></div>
      </div>

      <form class="left-margin" action="https://formspree.io/katherine.molloy@gmail.com" method="POST">
        <div lass="col-4_sm-12 grid-noGutter">
          <input type="text" name="name" placeholder="Your Name">
          <input type="email" name="_replyto" placeholder="Your Email">
        </div>

        <div class="col-4_sm-12 grid-noGutter scroll">
          <textarea placeholder="Your Message"></textarea>
        </div>

        <div class="col-12 grid-noGutter">
          <input type="submit" value="Send" class="button-solid">
        </div>
      </form>

    </div>
  </div>
</section>

<div class="footer-copyright ">
  <div class="copyright-text"> © 2019 Copyright: <a href="http://www.katherinemolloy.com.au"><span>katherinemolloy.com.au</span></a></div>
</div>
