<section class="featured" id="contact">
  <div class="grid-noGutter">

<!-- START - COLOUM WITH HEADING -->
    <div class="col-4_sm-12 grid-noGutter right">
      <div class="col-12-noGutter">
        <h1> connect </h1>
        <div class="col-12-noGutter-noBottom">
            <ul class="col-12-noGutter">

            <!-- URL IF HOSTING ON GITHUB PAGES -->
              <!-- <li><a href="{{ site.url }}"><i class="col-12"></i> Home </a></li> -->
            <!-- URL IF BUILDING LOCALLY -->
              <li class="text-link"><a href="http://127.0.0.1:4000/myportfolio/"><i class="col-12"></i> Home </a></li>
              <li class="text-link"><a href="#about"><i class="col-12"></i> About Me </a></li>
              <li class="text-link"><a href="#my-work"><i class="col-12"></i> Work </a></li>
              <li class="text-link"><a href="#resume"><i class="col-12"></i> Resume </a></li>
            </ul>
        </div>
      </div>

        <div class="col-3_sm-hidden_md-hidden"></div>
          <div class="col-9_sm-12_md-12">

          <div class="grid-noGutter-noBottom form-buttons">
            <div class="col-3_sm-2 line-button-left spin">
              <i class="fas fa-arrow-alt-circle-down"></i>
            </div>
            <div class="col-9_sm-7 line-button">
               <a download href="./assets/CV.pdf">
                 <p> Open in Browser </p></a>
           </div>
          </div>

          <div class="col-12"></div>

          <div class="grid-noGutter-noBottom form-buttons">
            <div class="col-3_sm-2 line-button-left">
              <i class="fa fa-globe"></i>
            </div>
            <div class="col-9_sm-7 line-button spin">
               <a download href="./assets/CV.pdf">
                 <p> Open in Browser </p></a>
           </div>
          </div>

          <div class="col-12"></div>

          <div class="grid-noGutter-noBottom form-buttons">
            <div class="col-3_sm-2 line-button-left">
              <i class="fab fa-linkedin-in"></i>
            </div>
            <div class="col-9_sm-7 line-button spin">
               <a href="https://www.linkedin.com/in/katherine-molloy/" target="_blank">
                 <p> Open in Browser </p></a>
           </div>
          </div>

       </div>   <!-- COL-9 END -->

    </div> <!-- COL-4 END -->

<!-- END - COLOUM WITH HEADING -->

    <div class="col-1_sm-hidden grid-noGutter line-center">
      <div class="col-12"></div>
    </div>

    <div class="col-7_sm-12">
      <form class="left-margin" action="https://formspree.io/katherine.molloy@gmail.com" method="POST">
        <div class="col-4_sm-12 grid-noGutter">
          <input type="text" name="name" placeholder="Your Name">
          <input type="email" name="_replyto" placeholder="Your Email">
        </div>

        <div class="col-4_sm-12 grid-noGutter scroll">
          <textarea placeholder="Your Message"></textarea>
        </div>

        <div class="col-12 grid-noGutter">
          <input type="submit" value="Send" class="button-solid">
        </div>
      </form>

    </div>
  </div>
</section>
