<!DOCTYPE HTML>
<head>
  <html lang="en">

<!-- Meta Data -->
<meta charset="utf-8">

<!-- Meta data for SEO purposes. -->
  <title> KM Portfolio </title>
  <meta name="author" content="Katherine Molloy">
  <meta name="description" content="Katherine Molloy | Visual designer | Portfolio website | Brisbane | 2019">

<!-- meta data to tell the browser that your devide is responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">

<!--  Social media sharing META Tags -->
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:description" content="{{page.meta-description}}">
  <meta property="og:image" content="{{page.featured-image_path}}">
  <meta property="og:url" content="{{page.url}}">
  <meta name="twitter:card" content="{{page.meta-description}}">
  <meta name="og:site_name" content="<www.katherinemolloy.com.au">

<!-- EXTERNAL CSS STYLESHEETS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

<!-- FONTS -->
  <!-- BANNER -->
  <link href="https://fonts.googleapis.com/css?family=Italianno" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>

  <!-- BODY AND FALLBACKS -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">

<!-- CUSTOM STYLESHEETS -->
  <link rel="stylesheet" href="./styles/style.css">

<!-- Logo icon link -->
  <link rel="shortcut icon" href="./assets/images/logo_icon.ico" type="image/x-icon"/>

<!-- SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.3/lottie_canvas.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.3/lottie_html.js"></script>
  <script src="https://kit.fontawesome.com/4248c2f900.js"></script>

</head>
