<section id="my_work">
  <div class="grid">
    <div class="col-2 right">
      <div class="col-12">
        <h1> work </h1>
        {% for catagories in site.mywork %}
          <ul class="col-12">
            <li> {{ item.catagories }} </li>
          </ul>
        {% endfor %}
      </div>
    </div>

    <div class="col-1 grid-noGutter-noBottom line-center">
      <div class="col-12"></div>
    </div>


    <div class="grid-noMargin col-9">
        {% for item in site.mywork %}
          <div class="col-4_xs-12 project-block">







              <div class="block-image"
              {% if item.annimation-path != '' %}
               style="background-image: url('{{ item.image_path }}{{item.animation-path}}');"
              {% endif %}>
                {% if item.animation-id %}
                  <div class="block-animation" id="{{ item.animation-id }}">
                    <script type="text/javascript">
                      var animation_{{ item.animation-id }} = bodymovin.loadAnimation({
                        container: document.getElementById('{{ item.animation-id }}'),
                        renderer: 'svg',
                        loop: true,
                        autoplay: true,
                        path: '{{ item.animation-path }}'
                      });
                    </script>
                  </div>
                {% endif %}
                <div class="block-text block-hover"><h3>{{ item.title }}</h3></div>
              </div>
            </a>
          </div>
        {% endfor %} <!-- DO NOT MOVE THIS, IT WILL BREAK THE GRID -->
      </div>
    </div>
</section>
