<section class="featured" id="resume">

<!-- HEADING -->

  <div class="grid-equalHeight grid-noGutter title">
    <div class="col-5_xs-12_sm-12 grid-noGutter right">
      <h1> education </h1>
  </div>

  <div class="col-2_sm-hidden grid-noGutter"></div>

  <div class="col-5_xs-12_sm-12 grid-noGutter">
    <h1> experience </h1>
  </div>
</div>

<!-- ROW ONE -->
  <div class="grid-equalHeight grid-noGutter">
    <div class="col-5_xs-12_sm-12 grid-noGutter right">
      <div class="col-12">
        <h3 class="heading"> web development </h3>
        <a href="https://www.instituteofcode.com/courses/web-dev/" target="_blank"><p class="subheading"> insitute of code - 2018</p></a>
        <p class= "description">A web development boot camp where I learnt how to use HTML, CSS and jQuery to design, create and build websites from scratch.</p>
      </div>
    </div>

    <div class="col-2_sm-hidden line-center center">
      <div class="icons jiggle">
        <i class="fa fa-cogs"></i>
      </div>
    </div>

    <div class="col-5col-5_xs-12_sm-12 grid-noGutter">
      <div class="col-12">
        <h3 class="heading"> freelancer </h3>
        <p class="subheading"> cyber security, finance, hospitality </p>
        <p class= "description"> I have freelanced as a designer specialising in branding identity, presentations and advertising. <br><br>Freelancing has improved my communication skills, taught me how to handle projects from brief to completion and refined my work-flow. </p>
      </div>
    </div>

  </div>

<!-- ROW TWO -->
  <div class="grid-equalHeight grid-noGutter">
    <div class="col-5col-5_xs-12_sm-12 grid-noGutter right">
      <div class="col-12">
        <h3 class="heading"> graphic design school </h3>
        <a href="http://www.catc.edu.au/courses/diploma-of-graphic-design" target="_blank"><p class="subheading"> CATC - 2015 </p></a>
        <p class= "description"> An accredited graphic design course focusing on typography, layout and design, colour psychology, computer graphics, advanced advertising, packaging design, promotional design and commercial illustration. </p>
      </div>
    </div>

    <div class="col-2_sm-hidden line-center center">
      <div class="icons">
        <i class="fa fa-paint-brush jiggle"></i>
      </div>
    </div>

    <div class="col-5col-5_xs-12_sm-12 grid-noGutter">
      <div class="col-12">
        <h3 class="heading"> junior graphic designer </h3>
        <a href="https://www.bioconcepts.com.au/" target="_blank"><p class="subheading"> 2018 - bioconcepts </p></a>
        <p class= "description"> Bio Concepts is Nutraceuticals firm founded by Nutritional Biochemist and author Henry Osiecki.  <br><br> The firm hired me to help illustrate Mr Osiecki's upcoming book on drug addictions. These illustrations were predominantly anatomical diagrams and chemical reaction infographics. The role also involved assisting their senior graphic designer with the day to day promotional graphics for the company. </p>
      </div>
    </div>

  </div>

<!-- ROW Three -->
  <div class="grid-equalHeight grid-noGutter">
    <div class="col-5col-5_xs-12_sm-12 grid-noGutter right">
      <div class="col-12">
        <h3 class="heading"> bachelor of design </h3>
        <a href="https://www.qut.edu.au/courses/bachelor-of-design-landscape-architecture" target="_blank"><p class="subheading"> qut landscape architecture - 2013 </p></a>
        <p class= "description"> I studied landscape systems and the complexity of the landscape in relation to the creation of outdoor spaces with positive cultural and environmental impact. (Second major - Urban and Regional Planning) </p>
      </div>
    </div>

    <div class="col-2_sm-hidden line-center center">
      <div class="icons">
        <i class="fa fa-graduation-cap jiggle"></i>
      </div>
    </div>


    <div class="col-5col-5_xs-12_sm-12 grid-noGutter">
      <div class="col-12">
        <h3 class="heading"> graphic design intern </h3>
        <a href="https://www.betherebeauty.com.au/" target="_blank"><p class="subheading"> 2017 - be there beauty </p></a>
        <p class= "description"> Be There Beauty is an app that allows the consumer to view, search and book beauty service appointments.<br><br>This role involved creating digital marketing and brand identity assets for both the app and clients outside of the beauty space associated with a partnering marketing firm. </p>
      </div>
    </div>

  </div>

<!-- PREVIOUS CAREER TITLE -->

  <div class="grid-noGutter">
    <div class="col-2_sm-hidden grid-noGutter"></div>
    <div class="col-8_xs-12_sm-12 grid-noGutter title previous-career">
      <div>
        <h2> previous career </h2>
      </div>
    </div>
    <div class="col-2_sm-hidden grid-noGutter"></div>
  </div>

<!-- PREVIOUS CAREER DATA -->

  <div class="grid-equalHeight grid-noGutter">
    <div class="col-5col-5_xs-12_sm-12 grid-noGutter right">
      <div class="col-12">
        <h3 class="heading"> advanced diplomas </h3>
        <a href="https://tafeqld.edu.au/courses/17915/diploma-of-horticulture" target="_blank"><p class="subheading"> TAFE north - 2007 </p></a>
        <p class= "description"> Dual advanced diplomas in Horticulture and Conservation. Learning how to identify, care for and protect tropical flora and their environment. The course had a hands-on and scientific approach. </p>
      </div>
    </div>

    <div class="col-2_sm-hidden line-center center">
      <div class="icons">
        <i class="fa fa-leaf jiggle"></i>
      </div>
    </div>

    <div class="col-5col-5_xs-12_sm-12 grid-noGutter">
      <div class="col-12">
        <h3 class="heading"> horticulturalist </h3>
        <p class="subheading"> 2005 - 2012 </p>
        <p class= "description"> I was horticulturalist for 6+ years, working in conservation, maintenance and retail. This career nurtured a lifelong love of sustainability, science and the importance of green space in wellbeing. </p>
      </div>
    </div>
  </div>

<!-- BOTTOM LINE -->

  <div class="grid-noGutter">
    <div class="col-4 grid-noGutter"></div>
    <div class="col-4 grid-noGutter"></div>
    <div class="col-4 grid-noGutter"></div>
  </div>

</section>
