---
layout: default
---

<section id="mywork-pages">

  <div class="block-image">
    {% for item in site.mywork %}
      <img src="{{ item.image_path }}">
    {% endfor %}
  </div>

  <div class ="my-work-text">
    <h1>{{ mywork.title }}</h1>

  <div class="grid-noGutter-noBottom">
    <div class="col-4 grid">
      <div class="col-12">
        <h3>Media</h3>
        {% for media in item.media %}
          <ul>
            <li>{{media}}</li>
          </ul>
        {% endfor %}
      </div>
    </div>

    <div class="col-1 grid-noGutter-noBottom solid-line-center">
      <div class="col-12"></div>
    </div>

    <div class="col-6 grid">
      <div class="col-12">
        <h3>Catagory</h3>
          {% for category in item.categories %}
            <ul>
              <li>{{category}}</li>
            </ul>
          {% endfor %}
      </div>
    </div>

    <div class="col-4 grid">
      <div class="col-12">
        <h3>Brief</h3>
        {% for brief in item.brief %}
        <p>{{brief}}</p>
        {% endfor %}
      </div>
    </div>

    <div class="col-1 grid-noGutter-noBottom solid-line-center">
      <div class="col-12"></div>
    </div>

    <div class="col-6 grid">
      <div class="col-12">
        <h3>Design Solution</h3>
        {% for solution in item.solution %}
        <p>{{solution}}</p>
        {% endfor %}
      </div>
    </div>

    </div> <!-- END GRID -->
  </div> <!-- END MY-WORK-TEXT -->
</section>
