---
layout: default
---

<section id="mywork-pages">

  <div class = "work-image-container">
    <div class="work-image"> <img src="{{ page.image_path }}"> </div>
  </div>


  <div class ="my-work-text">
    <h1>{{ mywork.title }}</h1>

  <div class="grid-noGutter-noBottom">
    <div class="col-5 grid">
      <div class="col-12">
        <h3>media</h3>
        {% for media in page.media %}
          <ul>
            <li>{{ media }}</li>
          </ul>
        {% endfor %}
      </div>
    </div>

    <div class="col-1 grid-noGutter-noBottom solid-line-center">
      <div class="col-12"></div>
    </div>

    <div class="col-6 grid">
      <div class="col-12">
        <h3>disciplines</h3>
          {% for disciplines in page.disciplines %}
            <ul>
              <li>{{ disciplines }}</li>
            </ul>
          {% endfor %}
      </div>
    </div>

    <div class="col-5 grid">
      <div class="col-12">
        <h3>brief</h3>
      {% for brief in page.brief %}
        <p>{{ brief }}</p>
      {% endfor %}
      </div>
    </div>

    <div class="col-1 grid-noGutter-noBottom line-center">
      <div class="col-12"></div>
    </div>

    <div class="col-6 grid">
      <div class="col-12">
        <h3>design solution</h3>
        {% for solution in page.solution %}
          <p>{{ solution }}</p>
        {% endfor %}
      </div>
    </div>

    </div> <!-- END GRID -->
  </div> <!-- END MY-WORK-TEXT -->
</section>
